@import url(https://fonts.bunny.net/css?family=space-grotesk:500,600,700);

:root {
    --bg: linear-gradient(0deg, #476b94, #0c0c3a);
    --bg-nogradient: #0c0c3a;
    --bg-2-nogradient: #476b94;
    --nav-bg: #173b697a;
    --nav-menu-bg: #2f62a57a;

    --txt: #a2e2d8;
    --txt-c: #0ee97b;

    --link: #0ee97b;
    --link-hover: #247e51;

    --fnt-monospace: 'monospace', monospace;
    --fnt-space-grotesk: 'Space Grotesk';

    --loader: #0ee97b;

    --danger: var(--red);

    --loading-gd-rotate: 180deg;
    --loading-gd-1: #46e7c42a;
    --loading-gd-2: #30ec782a;

    --skull: var(--red);
    --gamepad: var(--blue);
    --settings: var(--grey);
    --ghost: var(--white);
    --credits: var(--orange);

    --red: #e71a1a;
    --orange: #e2bd1a;
    --green: #49a770;
    --blue: #00aff4;
    --grey: #969696;
    --white: #e2e2e2;

    --dark-green: #49a770;

    --card-border: var(--grey);

    --tooltip-border: 4px solid #2c3ab9a8;
    --tooltip-padding: 2px;
    --tooltip-bg: #25449993;
    --tooltip-text: #cccccc;
    --tooltip-radius: 5px;
    --tooltip-shadow: 0 0 10px #384b68;

    --input: #0c0c3a;
    --input-2: #2f2f5c;
    --input-radius: 12px;
    --input-active: var(--green);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fnt-monospace);
    color: var(--txt);
    margin: 0px;
    background: var(--bg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}
