.grid {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin-bottom: 5rem;
}

.grid a img {
    border-radius: 12px;
    width: 12rem;
    height: 12rem;
}
