body.loading { 
    overflow: hidden; 
}

#custom-loading-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(8px);
  background: linear-gradient(var(--loading-gd-rotate), var(--loading-gd-1), var(--loading-gd-2)), center/cover no-repeat;
  display: flex; justify-content: center; align-items: center;
  z-index: 999999;
  opacity: 1;
  transition: opacity 0.6s ease;
  display: flex;
  flex-direction: column;
}

#custom-loading-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

#loadingSplash {
  color: var(--loader);
}