main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--bg-2);
}