main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--bg-2);
}

input, select, button {
    all: unset;
    background-color: var(--input);
    color: var(--txt);
    padding: 10px 14px;
    border: 2px solid var(--input);
    border-radius: var(--input-radius);
    box-sizing: border-box;
    transition: all 0.2s;
}

input:focus, select:focus {
    background-color: var(--input-2);
}

button:hover {
    background-color: var(--input-2);
}

button:active {
    background-color: var(--input-active);
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: var(--input-active);
}

label {
    align-items: center;
    text-align: center;
}