nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--txt-c);
    width: 75%;
    padding: 0px 0px 0px 20px;
    background: var(--nav-bg);
    border-radius: 20px;
    text-decoration: none;
    max-width: 500px;
    backdrop-filter: blur(3px);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

nav .menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    border-left: 2px solid var(--nav-menu-bg);
    background-color: var(--nav-bg);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

nav h1 {
    font-size: 1.5rem;
    margin: 0px;
}

nav h5 {
    font-size: 50%;
    margin: 0px;
}

nav a {
    font-size: 0.75rem;
    margin: 0px;
}

nav .fa-solid {
   font-size: 1.5rem;
}

nav a .fa-solid {
    font-size: 1.5rem;
    color: var(--txt-c);
    transition: all 0.25s ease;
}

nav a .fa-solid:hover {
    transform: scale(1.5) rotate(15deg);
    text-shadow: 0 0 10px var(--txt-c);
}

@media (max-width: 820px) {
    nav {
        width: 95%;
        max-width: none;
    }
}