nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--txt-c);
    width: 75%;
    padding: 0px 0px 0px 20px;
    background: var(--nav-bg);
    border-radius: 20px;
    text-decoration: none;
    max-width: 500px;
    backdrop-filter: blur(3px);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

nav .menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    border-left: 2px solid var(--nav-menu-bg);
    background-color: var(--nav-bg);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

nav h1 {
    font-size: 1.5rem;
    margin: 0px;
}

nav h5 {
    font-size: 50%;
    margin: 0px;
}

nav a {
    font-size: 0.75rem;
    margin: 0px;
}

nav .fa-solid {
   font-size: 1.5rem;
}

nav a .fa-solid {
    font-size: 1.5rem;
    color: var(--txt-c);
    transition: all 0.25s ease;
}

nav a .fa-ghost:hover {
    text-shadow: 0 0 10px var(--ghost);
    animation: ghost .5s cubic-bezier(0.33, 1, 0.68, 1);
    transform: scale(1.4) rotate(0deg);
    color: var(--ghost);
}
nav a .fa-users:hover {
    transform: scale(1.3);
    text-shadow: 0 0 10px var(--credits);
    animation: credits .5s ease-out;
    color: var(--credits);
}
nav a .fa-skull:hover {
    text-shadow: 0 0 10px var(--skull);
    animation: shake .5s ease-out forwards;
    transform: scale(1.3);
    color: var(--skull);
}
nav a .fa-gamepad:hover {
    transform: scale(1.3) rotate(-345deg);
    text-shadow: 0 0 15px var(--gamepad);
    color: var(--gamepad);
}
nav a .fa-gear:hover {
    transform: rotate(180deg) scale(1.3);
    text-shadow: 0 0 10px var(--settings);
    color: var(--settings);
}

@media (max-width: 820px) {
    nav {
        width: 95%;
        max-width: none;
    }
}

@keyframes ghost {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(2);
    }

    100% {
        transform: scale(1.4);
    }
}


@keyframes shake {
    0%   { transform: translate(2px, 4px) rotate(0deg) scale(1); }
    10%  { transform: translate(-3px, -2px) rotate(-1deg) scale(1.03); }
    20%  { transform: translate(-2px, 1px) rotate(1deg) scale(1.06); }
    30%  { transform: translate(2px, 1px) rotate(0deg) scale(1.09); }
    40%  { transform: translate(1px, -1px) rotate(1deg) scale(1.12); }
    50%  { transform: translate(-1px, 1px) rotate(-1deg) scale(1.15); }
    70%  { transform: translate(1px, 1px) rotate(-1deg) scale(1.21); }
    90%  { transform: translate(1px, 1px) rotate(0deg) scale(1.26); }
    100% { transform: translate(0, 0) rotate(0deg) scale(1.3); }
}

@keyframes credits {
    0%   { transform: scale(1) translateY(0); }
    25%  { transform: scale(1.1) translateY(5px); }
    50%  { transform: scale(1.2) translateY(-5px); }
    100% { transform: scale(1.3) translateY(0); }
}