:root {
    --bg: linear-gradient(0deg, #0d1b2a, #1b263b);
    --bg-nogradient: #0d1b2a;
    --bg-2-nogradient: #1b263b;
    --nav-bg: #1e3a5f7a;
    --nav-menu-bg: #31547e7a;

    --txt: #d4f1f9;
    --txt-c: #3ddcff;

    --link: #3ddcff;
    --link-hover: #2aa1b8;

    --fnt-monospace: 'monospace', monospace;
    --fnt-space-grotesk: 'Space Grotesk';

    --loader: #3ddcff;

    --danger: var(--red);

    --loading-gd-rotate: 180deg;
    --loading-gd-1: #3ddcff2a;
    --loading-gd-2: #00bfff2a;

    --skull: var(--red);
    --gamepad: var(--blue);
    --settings: var(--grey);
    --ghost: var(--white);
    --credits: var(--orange);

    --red: #f85c50;
    --orange: #f8c150;
    --green: #7fffd4;
    --blue: #009dff;
    --grey: #9caab3;
    --white: #e9f1f7;

    --dark-green: #7fffd4;

    --card-border: var(--grey);

    --tooltip-border: 4px solid #2c3ab9a8;
    --tooltip-padding: 2px;
    --tooltip-bg: #203a5893;
    --tooltip-text: #e0faff;
    --tooltip-radius: 5px;
    --tooltip-shadow: 0 0 10px #385b6f;

    --input: #0d1b2a;
    --input-2: #1e3a5f;
    --input-radius: 12px;
    --input-active: var(--blue);
}
