:root {
    --bg: linear-gradient(0deg, #000000, #050505);
    --bg-nogradient: #000000;
    --bg-2-nogradient: #050505;
    --nav-bg: #0a0a0aee;
    --nav-menu-bg: #101010ee;

    --txt: #d1f5ff;
    --txt-c: #00ffa6;

    --link: #00ffa6;
    --link-hover: #1cc47a;

    --fnt-monospace: 'monospace', monospace;
    --fnt-space-grotesk: 'Space Grotesk';

    --loader: #00ffa6;

    --danger: var(--red);

    --loading-gd-rotate: 180deg;
    --loading-gd-1: #00ffa62a;
    --loading-gd-2: #00c3ff2a;

    --skull: var(--red);
    --gamepad: var(--blue);
    --settings: var(--grey);
    --ghost: var(--white);
    --credits: var(--orange);

    --red: #ff3b3b;
    --orange: #ffb13b;
    --green: #00ffa6;
    --blue: #00c3ff;
    --grey: #7f7f7f;
    --white: #e6e6e6;

    --dark-green: #00c67a;

    --card-border: #1a1a1a;

    --tooltip-border: 4px solid #00ffa633;
    --tooltip-padding: 2px;
    --tooltip-bg: #0a0a0acc;
    --tooltip-text: #d1f5ff;
    --tooltip-radius: 5px;
    --tooltip-shadow: 0 0 10px #00ffa622;

    --input: #000000;
    --input-2: #0f0f0f;
    --input-radius: 12px;
    --input-active: var(--green);
}
